@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    margin : 0;
    padding : 0;
    font-family: 'Inter', sans-serif;
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

.rotate-anim {
    animation : rotate 4s infinite alternate-reverse;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
    
}